<%- include('templates/header') %>
<h1>Welcome to My Website</h1>
<% if (loggedIn) { %>
  <p>Hello, <%= name %>!</p>
  <a href="/members" class="btn btn-primary">Go to Members Area</a>
  <a href="/logout" class="btn btn-secondary">Logout</a>
<% } else { %>
  <a href="/signup" class="btn btn-primary">Sign Up</a>
  <a href="/login" class="btn btn-primary">Login</a>
<% } %>
<%- include('templates/footer') %>