<%- include('templates/header') %>
<h1>Hello, <%= name %>!</h1>
<a href="/logout" class="btn btn-secondary mb-3">Sign Out</a>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <% images.forEach(image => { %>
    <div class="col">
      <img src="<%= image %>" class="img-fluid rounded" alt="Member Image">
    </div>
  <% }) %>
</div>
<%- include('templates/footer') %>